*{
  font-family: system-ui;
}


body{
  background: url("img/keys-d.webp"); 
  background-size: cover;
}

.main-container{
  text-align: center;
}

.main-window{
  display: flex;
  flex-direction: column;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: grey;
  margin: auto;

  border-radius: 10px;
  border: 2px solid orange;


  box-shadow: 3px 3px 8px orange;
}

.main-window-title-bar{
  background: black;
  color: white;
  border-radius: 10px 10px 0 0;
  position: relative;

  height: 30px;

  display: flex;
}

.main-window-title-bar .window-title{
  display: inline-block;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  margin: auto;

  font-weight: 900;
}

.main-window-title-bar .window-button-trio{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-20%, -50%);

  cursor: pointer;
}

.main-window-display{
  height: 100px;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px;
  border-radius: 10px;
}

.main-window-button{
  background: #CECECE;
  border-radius: 10px;
}

.main-window-button-row{
  display: grid;
  grid-template-columns: 50px 50px 50px 55px 55px;

  /* justify-content: space-around; */
  margin: 5px 5px;
  gap: 5px;

  height: 200px;
}

.btn-1 img{
  width: 20px;
}


.btn{
  display: flex;
  justify-content: center;
  align-items: center;

  background: #181c21;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;

  width: 100%;
  font-weight: 900;

  transition: all ease 0.13s ;
}

.btn-num{
  /* background: #181c21; */
  background: #36393d;
}

.btn:hover{
  filter: brightness(180%);
}

.btn:active{
  filter: brightness(250%);
}

.btn-20{
  grid-column: 5;
  grid-row: 4 / span 2;

  background: #faa200;
}

.btn-20:hover{
  filter: brightness(115%);
}

.btn-20:active{
  filter: brightness(130%);
}

.disabled{
  background: black;
  color: gray;
}

.disabled:hover{
  filter: none;
}