*{
  font-family: system-ui;
}


body{
  background: url("img/keys-d.webp"); 
  background-size: cover;
}

.main-container{
  text-align: center;
}

.main-window{
  display: flex;
  flex-direction: column;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: white;
  margin: auto;

  border-radius: 10px;
  border: 1px solid orange;


  box-shadow: 3px 3px 8px orange;
}

.main-window-title-bar{
  background: black;
  color: white;
  border-radius: 10px 10px 0 0;
  position: relative;

  height: 30px;

  display: flex;
}

.main-window-title-bar .window-title{
  display: inline-block;
  margin: auto;
}

.main-window-title-bar .window-button-trio{
  position: absolute;
  right: 5px;
  top: 5px;

  cursor: pointer;
}

.main-window-display{
  height: 100px;
}

.main-window-button{
  background: #CECECE;
  border-radius: 10px;
}

.main-window-button-row{
  display: grid;
  grid-template-columns: 50px 50px 50px 55px 55px;

  /* justify-content: space-around; */
  margin: 5px 5px;
  gap: 5px;

  height: 200px;
}

.btn-1 img{
  width: 20px;
}


.btn{
  display: flex;
  justify-content: center;
  align-items: center;

  background: black;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;

  width: 100%;
  font-weight: 900;
}

.btn-20{
  grid-column: 5;
  grid-row: 4 / span 2;

  background: orange;
}