*{
  font-family: system-ui;
}


body{
  margin: 0;
  padding: 0;
}

.background{
  position: fixed;
  background: url("img/design-is-rounded-rectangles-l.webp"); 
  /* background: url("img/keys-d.webp");  */
  
  background-size: cover;
  width: 100%;
  height: 100%;

}

.main-container{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}


.main-window{
  display: flex;
  flex-direction: column;
  max-width: 300px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* background: grey; */
  background: rgba(255,255, 255, 0.1);
  margin: auto;

  border-radius: 10px;
  border: 1px solid #0a042b;
  backdrop-filter: blur(7px);

  box-shadow: 0px 0px 9px #0a042b;
}

.main-window-title-bar{
  /* background: rgba(0, 0, 0, 0.3); */
  color: white;
  border-radius: 10px 10px 0 0;
  position: relative;

  height: 30px;
  display: flex;
}

.main-window-title-bar .window-title{
  display: inline-block;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  margin: auto;

  font-weight: 900;
}

.main-window-title-bar .window-button-trio{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-20%, -50%);

  cursor: pointer;
}

.main-window-display{
  height: 100px;

  background: rgba(255, 255, 255, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 10px;
  border-radius: 10px;

  font-size: 25px;
  font-weight: 600;
  overflow: hidden;
}

.main-window-button{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 5px;

  margin: auto;
}

.main-window-button-row{
  display: grid;
  grid-template-columns: 50px 50px 50px 55px 55px;
  min-width: 260px;
  max-width: 500px;

  /* justify-content: space-around; */
  margin: 5px 5px;
  gap: 5px;

  height: 200px;
}

.btn-1 img{
  width: 20px;
}


.btn{
  display: flex;
  justify-content: center;
  align-items: center;

  background: #181c21;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;

  width: 100%;
  font-weight: 900;

  transition: all ease 0.13s ;
}

.btn-num{
  /* background: #181c21; */
  background: #36393d;
}

.btn:hover{
  filter: brightness(180%);
}

.btn:active{
  filter: brightness(250%);
}

.btn-20{
  grid-column: 5;
  grid-row: 4 / span 2;

  background: #faa200;
}

.btn-20:hover{
  filter: brightness(115%);
}

.btn-20:active{
  filter: brightness(130%);
}

.disabled{
  background: black;
  color: gray;
}

.disabled:hover{
  filter: none;
  cursor: not-allowed;
}


/*! Color */
.red{
  color: rgba(255,0,0,0.9);
}

.white{
  color: rgba(255,255,255, 0.4);
}

/*! Fun Section :D */
.c31-button{
  position: fixed;
  top:10px;
  left: 10px;
}

.c31-button button{
  border: none;
  padding: 13px;
  background: rgba(255,255,255, 0.2);
  backdrop-filter: blur(10px);

  cursor: help;

  font-weight: 500;
  font-size: 24px;
  color:white;

  transition: all 0.31s;
}

.c31-button button:hover{
  background: rgba(255,255,255, 0.5);
}